<div class="contenido">
    <h1 mat-dialog-title>Generar Código </h1>
    <div mat-dialog-content> 
        <mat-form-field>
            <mat-label>Nombre: </mat-label>
            <input matInput [(ngModel)]="name"> 
        </mat-form-field>
        <br>
        <mat-form-field> 
            <mat-label>Correo: </mat-label>
            <input type="email" matInput [(ngModel)]="email">
        </mat-form-field> 
        <br>
        <br>
        <p> <strong> {{message}} </strong> </p>
        <p> <strong class="code">{{code}}</strong> </p>
    </div>
    <div mat-dialog-actions style="padding-bottom: 50px;">
        <br>
        <button mat-raised-button   (click)="clean()">Limpiar</button>
        &nbsp;
        <button mat-raised-button color="primary" 
        (click)="register()">Guardar</button>
        <br>
    </div>
</div>
